<launch>
  <!--  *********** Bringup turtlebot arm *********** -->
  <include file="$(find turtlebot_arm_bringup)/launch/arm.launch" />
  <!--  *********** Turtlebot arm command **a********* -->
  <node name="arbotixgui" pkg="arbotix_python" type="arbotix_gui" output="screen"/>


  <!--  *********** Launch the MoveIt turtlebot arm *********** -->
  <include file="$(find turtlebot_arm_moveit_config)/launch/turtlebot_arm_moveit.launch" />


</launch>
